* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ccccff;
  }
  .header {
  display: flex;
  justify-content: space-between;
  background-color: #0052cc;
  height: 5%;
  }
  
  .logo{
    width: 36%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    size-adjust: 1%;
    height: 50%;
  }
  .logo img{
    width: 16%;
    border: 30px solid white;
    border-radius: 3px;
    margin: 1%;
    background-color: black;

    
}
.head-title {
  font-family: Lato;
  font-size: 3.5rem;
  color:#eee2dc;
  margin: 2%;
  background-color: transparent;
  }

  .head-btn {
  width: 100px;
  height: 3.5rem;
  margin: 2%;
  background-color:#ccccff;
  border: solid 4px #002966;
  outline: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100%;
  }
  .card-body {
  text-align: center;
  color: black;
  
  }
  .card-img-top {
  width: 100%;
  }
  .users-space {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  }
  .main {
  border: 3px solid #002966;
  }
  
  
